* {
  all: unset;
  display: revert;
  cursor: revert;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Coming Soon", cursive;
  src: url(fonts/ComingSoon-Regular.ttf);
}
@font-face {
  font-family: "Bad Script", cursive;
  src: url(fonts/BadScript-Regular.ttf);
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(fonts/OpenSans-VariableFont_wdth\wght.ttf);
}
html {
  --primary-color: #ffd1fa;
  --secondary-color: #418f4e;
  --hover-color: #ff8c00;
}

h1 {
  font-family: "Coming Soon", cursive;
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2 {
  margin-top: 10px;
  font-family: "Coming Soon", cursive;
  font-weight: 800;
  font-size: 1.2rem;
}
h3 {
  font-family: "Coming Soon", cursive;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
}
p {
  font-family: open sans;
  font-size: 0.9rem;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}
.link {
  font-family: "Coming Soon", cursive;
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-color);
}
.line2 {
  background: var(--secondary-color);
  margin: 20px 0px 25px;
  width: 175px;
  height: 2px;
  border-radius: 1px;
}
.link a:hover {
  color: var(--hover-color);
  padding-left: 5px;
}

/*----------------------------- header --------------------------- */
a {
  text-decoration: none;
}
.sm a:hover {
  color: var(--hover-color);
  padding-left: 5px;
}
ul {
  list-style: none;
  color: black;
}

.logo {
  font-size: 2.8rem;
}

.banner {
  padding: 2rem;

  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  font-family: "Coming Soon", cursive;
  font-weight: 800;
}

.logo a:hover {
  color: var(--hover-color);
  padding-left: 5px;
}
.main-menu ul li a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.main-menu ul {
  list-style: none;
  padding: 0;

  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 50px;
  justify-content: end;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}
/* baggrunde */
.forsidebillede {
  /* background-color: #ffd1fa; */
  background-image: url(billeder/nybaggrund2.svg);
  background-size: cover;
  background-position: 50% 20%;
}
.baggrundsbillede {
  background-color: var(--primary-color);
  /* background-image: url(billeder/nybaggrund2.webp); */
  background-size: cover;
}
/*----------------------------- forside--------------------------- */
.forside-content {
  font-family: "Coming Soon", cursive;
  /* width: 100vw;
  height: 100vh; */
  /* background-image: url(flyver.JPG); */
  background-position: 63% 20%;
  background-size: cover;
  padding-top: 400px;
  padding-left: 20px;
}
.forside-content {
  color: black;
  text-align: left;
}
.forside-content h3 {
  font-size: 4vmin;
}
.line {
  width: 150px;
  height: 2px;
  background: var(--secondary-color);
  margin: 14px 0px 14px;
  border-radius: 3px;
}
.forside-content h2 {
  font-size: 7vmin;
}
.about {
  border-radius: 30px;
  color: var(--secondary-color);
  font-weight: bolder;
}

@media (max-width: 650px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    gap: 5px;
    border-top: 2px solid var(--secondary-color);
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
/*----------------------------- om mig --------------------------- */

.about_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin: 0 auto;
  /* margin: 20px 500px 20px 400px; */
}

.about_content p {
  max-width: 60ch;
  margin-bottom: 20px;
}

.about-col p {
  margin-bottom: 0px;
  font-family: coming soon;
  font-size: 0.9rem;
  line-height: 25px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  /* border-radius: 10px; */
  /* border: 7px solid white; */
}

/* om mig øverste tekst */
@media (max-width: 800px) {
  .about_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .about_grid {
    grid-column: 2/3;
  }
  .about_content h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .about_content p {
    font-size: 1rem;
    line-height: 25px;
  }
}

/*----------------------------- web side --------------------------- */
.web-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  gap: 50px;
}

.web-content {
  grid-column: 2/3;
}

.web-container p {
  margin-top: 20px;
}

.web-content img {
  border: 7px solid white;
  margin-top: 30px;
}

.grid-container-web {
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 70px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  gap: 30px;
}
.grid-container-web img {
  width: 300px;
  /* object-fit: cover; */
  object-position: center;
  border: 5px solid white;
}

@media (max-width: 900px) {
  .web-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 50px;
    line-height: 25px;
    gap: 30px;
  }
}

/*----------------------- UX galleri ------------------- */

.grid-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 70px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  column-gap: 30px;
  row-gap: 30px;
}
.grid-container img {
  width: 300px;
  height: 250px;
  /* object-fit: cover; */
  object-position: center;
  border: 5px solid white;
}

/*----------------------- om mig galleri ------------------- */

.gallery {
  grid-template-columns: 1fr 1fr 1fr;
  --row-height: 300px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.gallery > img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

/* billede galleri - alt under 800px */
@media screen and (max-width: 800px) {
  .gallery {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}

/*----------------------- animation side  ------------------- */
.animation-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  gap: 50px;
}

.animation-content {
  grid-column: 2/3;
  margin-bottom: 25px;
}

.animation-content img {
  margin-top: 25px;
  border: 5px solid white;
}
.animation-container p {
  margin-top: 15px;
}

@media (max-width: 900px) {
  .animation-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 30px;
    line-height: 25px;
    gap: 30px;
  }
}

/*------------------------------ footer  ------------------------- */
footer {
  padding: 20px 0;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
}

.blomst {
  width: 50%;
}

/* #blomst_container {
  width: 20%;
  aspect-ratio: 4/5;
  position: absolute;
  top: 200px;
  left: 392px;
}
#blomst_sprite {
  background-image: url(billeder/favicon1.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.rotation {
  animation-name: rotation_kf;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation_kf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: white;
  color: black;
  font: italic smaller sans-serif;
  padding: 5px;
  text-align: center;
}
